<link href='//fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "individual-proj" %>
<div class="container">
  <div class="row">
    <h1 class="col s12 title-horiz">HORIZONS</h1>
  </div>
  <div class="row">
    <img class="responsive-img col s10 offset-s1 pro-shot" src="http://i.imgur.com/L03Kjv9.png" />
  </div>
  <div class="row">
    <div class="proj-links col s4 offset-s2"><i class="fa fa-github fa-lg"></i><a href="https://github.com/DomWhite/horizons"> domwhite/horizons</a></div>
    <div class="proj-links col s4"><i class="fa fa-share-square-o fa-lg"></i><a href="http://horizonsgame.herokuapp.com/"> horizonsgame.herokuapp.com</a></div>
  </div>
  </div>
  <div class="row">

    <div class="proj-details col s3 offset-s1">
      <h5 class="col-head">ABOUT</h5>
      <p class="col-para">
        Horizons is a amazing-race style game, where players race one another to gather check-points the fastest through-out the cities you love.  
      </p>
    </div>

    <div class="proj-details col s2 offset-s1">
      <h5 class="col-head">TECH</h5>
      <ul class="col-para">
        <li>JavaScript/jQuery</li>
        <li>Google Maps API/Custom API</li>
        <li>Ruby</li>
        <li>Sinatra</li>
        <li>PostgreSQL</li>
        <li>HTML5/CSS3/SCSS</li>
        <li>Foundation</li>
        <li>Github/Heroku</li>
      </ul>
    </div>

    <div class="proj-details col s3 offset-s1">
      <h5 class="col-head">PROCESS</h5>
      <p class="col-para">
        Horizons is a team project completed in 1 week by 3 people, myself included. While relying on the Google Maps API, the game also utilises AJAX calls extensively to a custom built api and an intricate database set up to keep track of various checkpoints obtained for an unlimited number of players. This was my first foray into a full blown web application, with the brief being to use our imaginations to create a web app using skills acquired over the past few weeks. I was part of an awesome team and had a blast working on this!
      </p>
    </div>

  </div>