<link href='//fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "individual-proj" %>
<div class="container">
  <div class="row">
    <h1 class="col s12 title-mans">MANSLATION</h1>
  </div>
  <div class="row">
    <img class="responsive-img col s10 offset-s1 pro-shot" src="http://i.imgur.com/Oe5bF2a.png" />
  </div>
  <div class="row">
    <div class="proj-links col s4 offset-s2"><i class="fa fa-github fa-lg"></i><a href="https://github.com/DomWhite/manslation"> domwhite/manslation</a></div>
    <div class="proj-links col s4"><i class="fa fa-share-square-o fa-lg"></i><a href="https://manslation.herokuapp.com/"> manslation.herokuapp.com</a></div>
  </div>
  </div>
  <div class="row">

    <div class="proj-details col s3 offset-s1">
      <h5 class="col-head">ABOUT</h5>
      <p class="col-para">
        Ever wondered what your male friends/significant others mean when they say or do something? Wonder no more! Simply submit the saying/message/behaviour and have it manslated by the internet's emotionally stable and respectful male populace...
      </p>
    </div>

    <div class="proj-details col s2 offset-s1">
      <h5 class="col-head">TECH</h5>
      <ul class="col-para">
        <li>JavaScript/jQuery</li>
        <li>Isotope.js</li>
        <li>Ruby</li>
        <li>Sinatra</li>
        <li>PostgreSQL</li>
        <li>HTML5/CSS3</li>
        <li>Github/Heroku</li>
      </ul>
    </div>

    <div class="proj-details col s3 offset-s1">
      <h5 class="col-head">PROCESS</h5>
      <p class="col-para">
        Manslation is the light hearted result of my quest to gain an understanding of a basic CRUD application focusing on using Ruby/Sinatra and PostgreSQL as an object-relational database management system. This was all tied together with the usual front-end suspects HTML5/CSS3 and JavaScript. I also was able to play around with metafizzy's isotope.js, a funky tool for lay-outs.
      </p>
    </div>

  </div>