<%= stylesheet_link_tag "individual-proj" %>
<div class="container">
  <div class="row">
    <div class="col s12"><img class="title-conf col s8 offset-s2" src="http://i.imgur.com/1LBjfER.png"></div>
  </div>
  <div class="row">
    <img class="responsive-img col s10 offset-s1 pro-shot" src="http://i.imgur.com/5Swq5nM.jpg" />
  </div>
  <div class="row">
    <div class="proj-links col s4 offset-s2"><i class="fa fa-github fa-lg"></i><a href="https://github.com/DomWhite/WDIConf2015"> domwhite/wdiconf2015</a></div>
    <div class="proj-links col s4"><i class="fa fa-share-square-o fa-lg"></i><a href="https://wdiconf2015.herokuapp.com/"> wdiconf2015.herokuapp.com</a></div>
  </div>
  </div>
  <div class="row">

    <div class="proj-details col s3 offset-s1">
      <h5 class="col-head">ABOUT</h5>
      <p class="col-para">
        WDI (Web Development Immersive) Conference is a group of student giving presentations on absolutely anything tech related. Held at General Assembly towards the end of a WDI course, it gives students a chance to showcase some of their other interests. 
      </p>
    </div>

    <div class="proj-details col s2 offset-s1">
      <h5 class="col-head">TECH</h5>
      <ul class="col-para">
        <li>JavaScript/jQuery/jQuery UI</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>PostgreSQL</li>
        <li>HTML5/CSS3</li>
        <li>Github/Heroku</li>
      </ul>
    </div>

    <div class="proj-details col s3 offset-s1">
      <h5 class="col-head">PROCESS</h5>
      <p class="col-para">
        WDIConf2015 was produced by 7 members of General Assembly Melbourne class WDI-2. Our brief was to create a web application that allowed people to book and attend talks given at WDI Conference 2015. It was to include an admin section allowing a person with authorisation to adjust all booking aspects of the site. Each of us worked on various aspects of the site, moving between the front and back-end as needed. Through out the week we would hold mock-meetings with our client (our course instructor)
      </p>
    </div>

  </div>