.about-banner {
  width: 100%;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
}

.about-page {
  padding-top: 25%;
/*  height: 100vh;
  background-color: #272D2D;*/
}

.lum1 {
  color: white;
  border: 2px solid red;
}

.lum2 {
  color: white;
  border: 2px solid green;
}

.lum3 {
  color: white;
  border: 2px solid purple;
}