.about-banner {
/*  width: 100%;*/
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
}


.lum1 {
  color: white;
  border-right: 1px solid grey;
}

.lum2 {
  color: white;
}

.lum3 {
  color: white;
  border-left: 1px solid grey;
}

.status {
  color: #6cc0e5;
}

.avail {
  color: white;
}

.status-heading {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}