@charset "utf-8";
@font-face {
  font-family: skyfall;
  src: url(/font/skyfall.ttf);
}

/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Anonymous Pro', sans-serif;*/

  html {
    font-family: 'Lato', Calibri, Trebuchet, sans-serif;
  }

/* Side Nav Bar */
#nav-list {
  background-color: #273235;
  position: absolute;
  z-index: 1001;
  width: 60px;
  height: 60px;
  padding-top: 3px;
  padding-left: 11px;
  margin-top: 1em;
  margin-left: 1em;
}

/***** Hover effects *******/

.side-nav li:hover, .side-nav li.active {
  background-color: #6cc0e5; 
}

#linked-in:hover {
  transition: color 0.5s ease;
  color: #007bb6;
}

#github:hover {
  transition: color 0.5s ease;
  color: grey;
}

#twitter:hover {
  transition: color 0.5s ease;
  color: #6cc0e5;
}

/**************************/

#slide-out {
  background-color: #273235;
  color: white;
}

.link-to > a {
  color: white;
}

.my-photo {
  max-height: 220px;
  border-radius: 120px;
}

#photo-frame {
  margin-left: 15px;
  margin-top: 1em;
}


/* INDEX PAGE */
.name-box {
  position: absolute;
  z-index: 999;
  width: 100%;
}

#my-name {
  position: absolute;
  z-index: 1000;
  color: #6cc0e5;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin-top: 15vh;
  /*font-family: skyfall;*/
}

.caption {
  margin-top: 30vh;
}

#linked-in, #github, #twitter {
  color: white;
}





/* MEDIA QUERIES */

@media (min-width: 401px) and (max-width: 800px) {

  #my-name {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%
  }

  #nav-list {
    padding-top: 0;
    padding-left: 11px;
  }
}

@media (min-width: 801px) {
  #my-name {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%
  }

  #nav-list {
    padding-top: 0px;
    padding-left: 10px;
  }
}
