<%= stylesheet_link_tag "about" %>
<div class="about-page">
  <div class="row">
    <img class="responsive-img col s10 offset-s1" src="http://i.imgur.com/4ILZ8GB.png" />
  </div>
  <div class="container">
  <div class="row status-heading">
    <h4 class="status col s12 l1">STATUS: </h4>
    <h4 class="avail col s12 l7 offset-l2">I'M AVAILABLE</h4>
  </div>

    <div class="row">
        <div class="col s12 l4 lum1">
          <p class="about-heading">About</p>
          <p>I've changed careers from chemistry to computers and I love it! <br>
            I'm Dominic (Dom) White and apart from being a coder of things, I enjoy disconnecting and venturing out into the sunlight every so often. I'm into minimalist camping/hiking and can start a fire with little more than some flintstone and tinder (not the phone app!). In saying that, if there is a newly released game that I enjoy, then the only camping that will occur is in my room with a game console. 
          </p>
        </div>
        <div class="col s12 l4 lum2">
        <p class="objective-heading">Objective</p>
          <p>In a perfect world I’d love to be working “middle-stack”, so that I have the ability to use both front-end and back-end technology as to develop those skills further.  Ideally this would take place in a paired-programming/small group scenario. In reality I enjoy either stack, so my goal is to grow my skill set through immersion.</p>
        </div>
        <div class="col s12 l4 lum3">
         <p class="objective-heading">Credentials</p>
          <p>After a recent decision to follow my passion and begin studying a Bachelor of Information Tech online at Deakin, I came to the realisation that web technologies are my bag. To fast track my learning, I enrolled in General Assembly's bootcamp style Web Development Immersive course, where the constant exposure to relevant web based tech and incredibly talented people has validated my decision to change career.</p>
        </div>
    </div>
  </div>
</div>

