  <%= stylesheet_link_tag "about" %>
  <div class="row">
    <img class="responsive-img col s10 offset-s1" src="http://i.imgur.com/Db5KQBx.png" />
  </div>
  <div class="container">
  <div class="row status-heading">
    <h4 class="status col s12"><i class="fa fa-envelope-o"></i><a href="mailto:dominicpaulwhite@gmail.com?Subject=Hello" target="_top"> dominicpaulwhite@gmail.com</a></h4>
    <h4 class="status col s12"><i class="fa fa-phone-square"></i> +61 417 123 716</h4>
    <h4 class="status col s12"><i class="fa fa-github-square"></i><a href="https://github.com/DomWhite"> github.com/domwhite</a></h4>
  </div>