---
title: Dominic White
---


  <div class="slider fullscreen">
    <div class="name-box">
      <h1 id="my-name">Dominic White</h1>
    </div>
    <ul class="slides">
      <li>
        <%= image_tag 'http://i.imgur.com/dOR8ZwI.jpg' %> <!-- gamer image -->
        <div class="caption center-align">
          <h3 >Experienced Gamer</h3>
        </div>
      </li>
      <li>
        <%= image_tag 'http://i.imgur.com/R0C4UZj.jpg' %> <!-- sublime image -->
        <div class="caption right-align">
          <h3 >Progressing Developer</h3>
        </div>
      </li>
      <li>
        <%= image_tag 'http://i.imgur.com/eIrLrZU.jpg' %> <!-- nature image -->
        <div class="caption left-align">
          <h3 >Novice Survivalist</h3>
        </div>
      </li>
    </ul>
  </div>

  <%= javascript_include_tag  "index" %>

  <script>
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>
