<%= stylesheet_link_tag "projects" %>
<div class="container">
<div class="row"></div>
<div class="row">
    <div class="view col s12 l6">  
         <img class="folio-shot" src="http://i.imgur.com/IG53OUm.png" />  
         <div class="mask">  
         <h2>Tic-Tac-Toe<br><a href="http://domwhite.github.io/tic-tac-toe/">domwhite.github.io/tic-tac-toe</a></h2>  
         <p>SCHOOL YOUR FRIENDS!</p>  
             <a href="/projects/tictactoe.html" class="info">See More</a>  
         </div>  
    </div>

    <div class="view col s12 l6">  
         <img class="folio-shot" src="http://i.imgur.com/Oe5bF2a.png" />
         <div class="mask">  
         <h2>Manslation<br><a href="https://manslation.herokuapp.com/">manslation.herokuapp.com</a></h2>  
         <p>NEED SOMETHING MANSLATED?</p>  
             <a href="/projects/manslation.html" class="info">See More</a>  
         </div>  
    </div>
  </div>
<div class="row">
    <div class="view col s12 l6">  
         <img class="folio-shot" src="http://i.imgur.com/L03Kjv9.png" />  
         <div class="mask">  
         <h2>Horizons<br><a href="http://horizonsgame.herokuapp.com/">horizonsgame.herokuapp.com</a></h2>  
         <p>EXPAND YOUR HORIZONS</p>  
             <a href="/projects/horizons.html" class="info">See More</a>  
         </div>  
    </div>

    <div class="view col s12 l6">  
         <img class="folio-shot" src="http://i.imgur.com/5Swq5nM.jpg" />  
         <div class="mask">  
         <h2>WDIconf2015<br><a href="https://wdiconf2015.herokuapp.com/">wdiconf2015.herokuapp.com</a></h2>  
         <p>A QUIRKY CONFERENCE</p>  
             <a href="/projects/wdiconf.html" class="info">See More</a>  
         </div>  
    </div>
  </div>
  <div class="row">
    <div class="view col s12 l6">  
         <img class="folio-shot" src="http://i.imgur.com/v43WDPT.png" />  
         <div class="mask">  
         <h2>True Trac<br><a href="https://truetrac.herokuapp.com/">truetrac.herokuapp.com</a></h2>  
         <p>ENJOY YOUR WORLD</p>  
             <a href="/projects/truetrac.html" class="info">See More</a>  
         </div>  
    </div>

    <div class="view col s12 l6">  
         <img class="folio-shot" src="http://i.imgur.com/gWfoRjq.png" />  
         <div class="mask">  
         <h2>My Portfolio<br><a href="http://webportfol.io">webportfol.io</a></h2>  
         <p>IT'S ALL ABOUT ME</p>  
             <a href="/projects/folio.html" class="info">See More</a>  
         </div>  
    </div>
  </div>
</div>